	// variables
	$color1: white;
	$color2: #efefef;
	$color3: #111111;
	$alien: #A1CD3A;
	$black8: rgba(0, 0, 0, .8);
	$black5: rgba(0, 0, 0, .5);
	$black8: rgba(0, 0, 0, .25);
	$white7: rgba(255, 255, 255, .75);
	$white5: rgba(255, 255, 255, .5);
	$white3: rgba(255, 255, 255, .3); // default styling
	body {
		background: $color3;
		position: relative;
		color: $color2;
	}

	::selection {
		background: $alien;
		color: white;
	}

	::-moz-selection {
		background: $alien;
		color: white;
	}

	a {
		color: $alien;
		text-decoration: none;
		cursor: pointer;
		&:hover {
			text-decoration: none;
			color: lighten($alien, 15%);
		}
	}

	h1 a {
		color: $color2;
		&:hover {
			text-decoration: none;
			color: lighten($alien, 15%);
		}
	}

	img {
		max-width: 100%;
		height: auto;
	}

	input,
	textarea {
		border: 1px solid $color2;
		background: $color1;
		padding: 0.3em 0.4em;
		box-shadow: inset -1px -1px 6px $color1;
	}

	.size-auto,
	.size-full,
	.size-large,
	.size-medium,
	.size-thumbnail {
		max-width: 100%;
		height: auto;
	}

	.page-content {
		min-height: calc(100vh - 241px);
	}

	section {
		padding: 2rem 0;
	}

	.reveal {
		opacity: 1;
	}

	.disapear {
		opacity: 0 !important;
	}