// variables
$color1: white;
$color2: #efefef;
$color3: #111111;
$alien: #A1CD3A;
// default styling
body {
	background: $color3;
	color: $color2;
}

a {
	color: $alien;
	text-decoration: none;
	cursor: pointer;
	&:hover {
		text-decoration: none;
		color: lighten($alien, 15%);
	}
}

h1 a {
	color: $color2;
	&:hover {
		text-decoration: none;
		color: lighten($alien, 15%);
	}
}

img {
	max-width: 100%;
	height: auto;
}

input,
textarea {
	border: 1px solid $color2;
	background: $color1;
	padding: 0.3em 0.4em;
	box-shadow: inset -1px -1px 6px $color1;
}

.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

.page-content {
	min-height: calc(100vh - 241px);
}

section {
	padding: 2rem 0;
}

footer {
	background-color: #151515;
}

#alia-footer {
	padding: .5rem 3rem;
	background-color: #181818;
	color: #333333;
	img {
		width: 25px;
		height: 25px;
		margin: 0 18px 0 6px;
	}
}

.reveal {
	opacity: 1;
}

.disapear {
	opacity: 0 !important;
}