@mixin shadow {
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.27), 0px 2px 3px rgba(0, 0, 0, 0.45);
}

.apple-card {
  background-position: center center;
  background-origin: border-box;
  background-size: cover;
  margin: .5rem;
  height: 326px;
  min-width: 300px;
  width: 50%;
  border-radius: 50px;
  overflow: hidden;
  @include shadow();
  .play-btn {
    width: 50px;
    height: 50px;
    margin: auto;
    position: absolute;
    margin-top: 128px;
  }
  .legenda {
    background: rgba(0, 0, 0, .5);
    position: relative;
    bottom: 0;
    height: 163px;
    padding: 3px 35px 20px 45px;
    overflow: hidden;
    transition: .6s ease-in-out;
    transform: translate3d(0, 293px, 0);
    h3 {
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  &:hover,
  &:focus {
    .legenda {
      transform: translate3d(0, 173px, 0);
    }
  }
}

.swipe-card {
  margin: .5rem;
  height: 234px;
  width: 416px;
  border-radius: 50px;
  overflow: hidden;
  @include shadow();
  img{
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.slick-arrow{
  position: absolute;
  top: 124px;
  height: 70px;
  width: 75px;
  z-index: 3;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $input-btn-border-width solid transparent;
  background-color: $color3;
  color: white;
  @include hover-focus {
    text-decoration: none;
    color: $alien;
  }
  &:focus,
  &.focus {
    outline: 0;
    color: $alien;
  }
  &.slick-prev{
    left: 0px;
    border-radius: 0 36px 36px 0;
  }
  &.slick-next{
    right: 0px;
    border-radius: 36px 0 0 36px;
  }
}

.bg-color {
  background-color: #46a1de;
  transition-duration: .5s;
}

.text-color {
  color: #46a1de;
  transition-duration: .5s;
}

.tab__content {
  position: relative;
  width: 100%;
  >li {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    list-style: none;
    .content__wrapper {
      width: 100%;
    }
  }
}

.wave-section {
  margin-top: 0;
  padding: 0;
  .wave-btn-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    svg {
      width: 1024px;
      margin: 0 auto;
      display: block;
      position: absolute;
      z-index: 1;
      left: 50%;
      margin-left: -512px;
    }
    .wave-bg {
      opacity: 0;
      transition: opacity .15s;
      &.active {
        opacity: 1;
      }
    }
    .tabs {
      position: relative;
      margin: 0 auto;
      padding: 0;
      height: 150px;
      display: inline-flex;
      width: 487px;
      flex-wrap: nowrap;
      align-content: center;
      align-items: center;
      justify-content: center;
      li {
        width: 125px;
        height: 125px;
        position: absolute;
        display: flex;
        background-color: rgba(0, 0, 0, .4);
        box-sizing: border-box;
        border: 3px solid rgba(0, 0, 0, .5);
        border-radius: 50%;
        text-align: center;
        list-style: none;
        transition-duration: .25s;
        overflow: hidden;
        cursor: pointer;
        &.active {
          border-color: $alien;
          a {
            color: lighten($alien, 25%);
          }
        }
        a {
          display: block;
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          z-index: 10;
          color: $white7;
          transition: .2s ease;
          svg {
            width: 52px;
            height: auto;
            margin: 12px -26px;
            pointer-events: none;
          }
          >span.caption {
            text-align: center;
            color: $white5;
            display: block;
            position: relative;
            top: 74px;
            font-size: .8rem;
          }
        }
        &:hover,
        &:focus {
          background-color: darken($alien, 40%);
          border-color: darken($alien, 15%);
          a {
            color: lighten($alien, 25%);
          }
          .svg-fill {
            fill: white;
          }
        }
        &:nth-of-type(2) {
          margin: 0 auto;
          display: block;
          left: 50%;
          margin-left: -62px;
        }
        &:nth-of-type(1) {
          left: 35px;
        }
        &:nth-of-type(3) {
          right: 35px;
        }
      }
    }
  }
  article {
    margin: 25px auto;
    width: 100%;
    min-height: 175px;
    .wave-thing {
      /*opacity: 0;*/
      display: inline-block;
      position: absolute;
      text-align: center;
      min-height: 175px;
    }
    /*>div {
      display: inline-block;
      position: absolute;
      text-align: center;
      min-height: 175px;
      .img-clip {
        height: 250px;
        width: 100%;
        overflow: hidden;
        display: block;
        >img {
          margin: auto;
          top: -50%;
          position: relative;
          width: 100%;
        }
      }
    }*/
    @media screen and (max-width: 670px) {
      width: 320px;
      div {
        width: 320px
      }
    }
  }
}

.duplex-hunter {
	background-color: #46155a;
	border-radius: 150px;
	padding: 5rem 50px;
	background-image: url('./images/soundhunter/i-want-you.png');
	background-size: contain;
	background-position: bottom right;
	background-repeat: no-repeat;
  @include shadow;
	article {
		padding: 0 80px;
	}
	/*.duplex-pic img{
		width: auto;
		height: 250px;
		display: block;
		margin: auto;
	}*/
}