@mixin shadow {
  box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.27), 0px 2px 3px rgba(0, 0, 0, 0.45);
}
@mixin long-transition{
  transition: .6s ease-in-out;
}
@mixin transition{
  transition: .2s ease-in-out;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	height: 0;
  border-radius: 60px;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.apple-card {
  background-position: center center;
  background-origin: border-box;
  background-size: cover;
  margin: .5rem;
  height: 326px;
  min-width: 300px;
  width: 50%;
  border-radius: 50px;
  overflow: hidden;
  @include shadow();
  .play-btn {
    width: 50px;
    height: 50px;
    margin: auto;
    position: absolute;
    margin-top: 128px;
  }
  .legenda {
    background: rgba(0, 0, 0, .5);
    position: relative;
    bottom: 0;
    height: 163px;
    padding: 3px 35px 20px 45px;
    overflow: hidden;
    @include long-transition;
    transform: translate3d(0, 293px, 0);
    h3 {
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  &:hover,
  &:focus {
    .legenda {
      transform: translate3d(0, 173px, 0);
    }
  }
}

.swipe-card {
  margin: .5rem;
  height: 234px;
  width: 416px;
  border-radius: 50px;
  overflow: hidden;
  @include shadow();
  img{
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.slick-arrow{
  position: absolute;
  top: 124px;
  height: 70px;
  width: 75px;
  z-index: 3;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: $input-btn-border-width solid transparent;
  background-color: $color3;
  color: white;
  @include hover-focus {
    text-decoration: none;
    color: $alien;
  }
  &:focus,
  &.focus {
    outline: 0;
    color: $alien;
  }
  &.slick-prev{
    left: 0px;
    border-radius: 0 36px 36px 0;
  }
  &.slick-next{
    right: 0px;
    border-radius: 36px 0 0 36px;
  }
}

.bg-color {
  background-color: #46a1de;
  @include long-transition;
}

.text-color {
  color: #46a1de;
  transition-duration: .6s;
}

.tab__content {
  position: relative;
  width: 100%;
  >li {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    list-style: none;
    .content__wrapper {
      width: 100%;
    }
  }
}

$ratio: 6em !default;
.wave-section {
  margin-top: 0;
  padding: 0;
  max-width: 100%;
  overflow: hidden;
  @include shadow;
  @include transition;
  .wave-btn-container {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    .wave-bg {
      opacity: 0;
      @include transition;
      &.active {
        opacity: 1;
      }
    }
    .tabs {
      position: relative;
      padding: 0;
      margin: 0 auto;
      height: $ratio + .5em;
      width: 100%;
      display: inline-flex;
      flex-wrap: nowrap;
      align-content: center;
      align-items: center;
      justify-content: center;
      li {
        width: $ratio;
        height: $ratio;
        display: flex;
        background-color: rgba(0, 0, 0, .4);
        box-sizing: border-box;
        border: 3px solid rgba(0, 0, 0, .5);
        border-radius: 50%;
        text-align: center;
        list-style: none;
        transition-duration: .2s;
        overflow: hidden;
        cursor: pointer;
        &.active {
          border-color: $alien;
          a {
            color: lighten($alien, 25%);
          }
        }
        a {
          display: block;
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          z-index: 10;
          color: $white7;
          @include transition;
          svg {
            width: 40%;
            height: auto;
            margin: 10% -20% 0 -20%;
            pointer-events: none;
            user-select: none;
          }
          >span.caption {
            text-align: center;
            color: $white5;
            display: block;
            position: relative;
            top: 0;
            width: 90%;
            margin: auto;
            word-wrap: wrap;
            line-height: 1;
            text-align: center;
            font-size: .85rem;
            user-select: none;
          }
        }
        &:hover,
        &:focus {
          background-color: darken($alien, 40%);
          border-color: darken($alien, 15%);
          a {
            color: lighten($alien, 25%);
          }
          .svg-fill {
            fill: white;
          }
        }
      }
    }
  }
  article {
    margin: 25px auto;
    width: 100%;
    min-height: 175px;
    .wave-thing {
      /*opacity: 0;*/
      display: inline-block;
      position: absolute;
      text-align: center;
      min-height: 175px;
    }
    /*>div {
      display: inline-block;
      position: absolute;
      text-align: center;
      min-height: 175px;
      .img-clip {
        height: 250px;
        width: 100%;
        overflow: hidden;
        display: block;
        >img {
          margin: auto;
          top: -50%;
          position: relative;
          width: 100%;
        }
      }
    }*/
    @media screen and (max-width: 670px) {
      width: 320px;
      div {
        width: 320px
      }
    }
  }
}

.duplex-hunter {
	background-color: #46155a;
	border-radius: 150px;
	padding: 5rem 50px;
	background-image: url('./images/soundhunter/i-want-you.png');
	background-size: contain;
	background-position: bottom right;
	background-repeat: no-repeat;
  @include shadow;
	article {
		padding: 0 80px;
	}
	/*.duplex-pic img{
		width: auto;
		height: 250px;
		display: block;
		margin: auto;
	}*/
}

.intercall{
  .vr, .soundhunter, .soundfx{
    padding: 3em;
  }
  .vr{ background-color: #fafafa; }
  .soundhunter{ background-color: #46155a; }
  .soundfx{background-color: $alien;}
  >div:first-of-type{
    padding-bottom: 80px;
    &::after{
      content: "+";
      border-radius: 50%;
      position: absolute;
      width: 70px;
      height: 70px;
      line-height: 70px;
      font-size: 35px;
      font-weight: normal;
      color: white;
      background: #46a1de;
      @include shadow;
      z-index: 3;
      text-align: center;
      box-sizing: border-box;
      @include media-breakpoint-up(xs){
        top: 100%;
        margin-top: -35px;
        left: 50%;
        margin-left: -35px;
      }
      @include media-breakpoint-up(md){
        top: 50%;
        margin-top: -35px;
        left: 100%;
        margin-left: -35px;
      }
    }
  }
  >div:last-of-type{
    padding-top: 80px;
  }
  /*border-radius: 150px;
	padding: 5rem 50px;
  @include shadow;
  article {
		padding: 0 80px;
	}*/ 
}
.intercall-title{
  background-color: lighten($color3, 3%);
  padding-top: 2em;
  padding-bottom: 2em;
}

.plus-container{
  position: relative;
  text-align: center;
  display: inline;
  @include media-breakpoint-up(xs) {
    width: 100%;
    height: 0;
  }
  @include media-breakpoint-up(md) {
    width: 0;
    height: 100%;
  }
}
.plus{
  
}

.duplex-hunter {
	background-color: #46155a;
	border-radius: 150px;
	padding: 5rem 50px;
	background-image: url('./images/soundhunter/i-want-you.png');
	background-size: contain;
	background-position: bottom right;
	background-repeat: no-repeat;
  @include shadow;
	article {
		padding: 0 80px;
	}
	/*.duplex-pic img{
		width: auto;
		height: 250px;
		display: block;
		margin: auto;
	}*/
}