/******************************************************************************\
	General
\******************************************************************************/

article {
	@include clearfix;
}

.archive-title,
.search-title h1 {
	@include font-size(1.3);
	font-weight: normal;
	background: $color2;
	text-align: center;
	color: $color1;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0.6em 0;
}

.archive-description,
.second-search {
	@include font-size(0.9);
	font-style: italic;
	margin-top: 0;
	background: $color2;
	color: $color1;
	text-align: center;
	padding-top: 0;
	padding-bottom: 0.8em;
	p {
		margin: 0;
	}
	form {
		margin-top: 0.5em;
		margin-bottom: 0.6em;
	}
	input {
		box-shadow: none;
	}
}


/******************************************************************************\
	Standard-page
\******************************************************************************/

.post-title {
	text-align: center;
	margin-bottom: 0.2em;
	&:first-child {
		margin-top: 1em;
	}
}

.single .post-title {
	&:first-child {
		margin-top: 1em;
	}
}

.post-meta {
	text-align: center;
	font-style: italic;
}

.post-content {
	position: relative;
}

.page .post-content {
	margin-bottom: 3.5em;
}


/******************************************************************************\
	Front-page and archives
\******************************************************************************/

.home,
.archive,
.search,
.author {
	.post-content {
		background: none;
		color: $color2;
		padding: 0;
		text-align: center;
	}
}

.pagination {
	border-bottom: 3px solid $color2;
	ul {
		list-style: none;
		text-align: center;
		margin: 1em 0 0 0;
		padding: 0.6em 0;
		background: $color1;
	}
	li {
		display: inline;
		margin: 0 0.5em;
	}
}


/******************************************************************************\
	Widgets
\******************************************************************************/

.page-content .widgets {
	.widgettitle {
		color: #fff;
		margin-top: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		line-height: 1.3;
	}
	.widget {
		margin-bottom: 2em;
		&:last-child {
			margin-bottom: 0;
		}
	}
	.wp-post-image {
		width: 100%;
		height: auto;
		display: block;
		margin-bottom: 1em;
	}
	.read-more {
		border-bottom: 2px solid #fff;
		padding-bottom: 0.25em;
		&:hover {
			border-bottom: 2px solid #fff;
		}
	}
}

.svg-fill {
	fill: $alien;
	transition: .2s ease;
}

.card {
	background-color: #0e0e0e;
}

#insight360 {
	margin: 6em 0;
	#oculos {
		position: relative;
		width: 100%;
		height: auto;
		padding: 0 2rem;
	}
}