header {
	position: relative;
	height: 60%;
	height: 60vh;
	width: 100%;
	border: none;
	margin: 0;
	background-image: url('./images/header.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center -225px;
	color: white; // margin-bottom: -64px;
	// padding-bottom: 110px;
}