.main-menu {
	.menu-item {}
	.menu-item a {}
	.menu-item a:hover {}
}

nav {
	height: 64px;
	background-color: rgba(11, 12, 9, .6);
	li a {
		border: 1px solid transparent;
		border-radius: 36px;
		padding: .5rem 1.5rem;
		display: inline-block;
		position: relative;
		transition: .1s ease-in-out;
		outline: none;
		&:hover,
		&:focus {
			border: 1px solid darken($alien, 20%);
		}
	}
}

.current-menu-item {
	border: 1px solid #2c331a;
	border-radius: 36px;
}