@import '~flamework/src/sass/vars';

.duplex {
  background-color: #fafafa;

  .artigo {
    padding: 4em;
    @media screen and (max-width: 600px) {
      padding: 1em;
    }
  }
}

header#headerFX {
  position: relative;
  width: 100%;
  height: 70vh;
  margin: 0;
  color: white;
  border: none;
  background-color: black;
  @media #{$mobile} {
    background-image: url(./images/fxSM.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    opacity: 1;
    animation: none;
    .swipe {
      animation: none;
    }
  }
  .lead {
    margin-top: -120px;
    z-index: 1;
  }
}
header#headerFX2 {
  position: relative;
  width: 100%;
  height: 70vh;
  margin: 0;
  color: white;
  border: none;
  background-color: black;
  @media #{$mobile} {
    background-size: cover;
    background-position: center center;
    background-attachment: scroll;
    animation: none;
  }
  .lead {
    margin-top: -120px;
    z-index: 1;
  }
}

.fx1 {
  opacity: 1;
  animation-delay: 0;
  @media screen and (max-width: 1360px) {
    background-image: url(./images/fxMD.jpg);
  }
  @media screen and (min-width: 1361px) {
    background-image: url(./images/fxHD.jpg);
  }
  @media screen and (max-width: 720px) {
    display: none;
  }
}
.fx2 {
  opacity: 0;
  animation-delay: 2s;
  @media screen and (max-width: 1360px) {
    background-image: url(./images/fxhue1MD.jpg);
  }
  @media screen and (min-width: 1361px) {
    background-image: url(./images/fxhue1HD.jpg);
  }
  @media screen and (max-width: 720px) {
    display: none;
  }
}

.fx3 {
  opacity: 0;
  animation-delay: 4s;
  @media screen and (max-width: 1360px) {
    background-image: url(./images/fxhue2MD.jpg);
  }
  @media screen and (min-width: 1361px) {
    background-image: url(./images/fxhue2HD.jpg);
  }
  @media screen and (max-width: 720px) {
    display: none;
  }
}
