@keyframes pulse {
  from {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  to {
    opacity: 1;
  }
}

body {
  position: relative;
  color: $color2;
  /*overflow-x: hidden;*/
}

::selection {
  background: $alien;
  color: white;
}

::-moz-selection {
  background: $alien;
  color: white;
}

a {
  color: $alien;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    text-decoration: none;
    color: lighten($alien, 15%);
  }
}

.btn {
  display: inline-block;
  position: relative;
  height: 100%;
  padding: 0.4rem 1rem;
  border: 1px solid transparent;
  border-radius: $radius * 2;
  cursor: pointer;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
}

.btn-primary {
  color: #fff;
  background-color: darken($alien, 10%);
  border-color: darken($alien, 10%);
  &:hover,
  &:focus {
    background-color: darken($alien, 20%);
    border-color: darken($alien, 20%);
  }
}

h1 a {
  color: $color2;
  &:hover {
    text-decoration: none;
    color: lighten($alien, 15%);
  }
}

img {
  max-width: 100%;
  height: auto;
}
