@import '~flamework/src/_vars.scss';

.pulse {
  animation: pulse ease-in-out 1.2s infinite;
  animation-direction: alternate;
}

.arrow {
  width: 100%;
  height: 72px;
  position: relative;
  user-select: none;

  &:after {
    width: 100%;
    content: 'arraste ou clique';
    position: absolute;
    top: 1.8em;
    font-size: 0.8rem;
    color: #888888;
    left: 0;
    text-align: center;
  }

  &.light {
    background-color: rgba(white, 0.05);
    color: white;
  }

  &.dark {
    background-color: rgba(black, 0.1);
    color: rgba(black, 0.6);
  }

  &.down {
    img, svg {
      transform: rotate(180deg);
    }
  }
}

footer {
  background-color: $background;
  position: fixed;
  width: 100%;
  z-index: 100;
  height: auto;
  bottom: 0;
  transition: transform .15s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translate3d(0, 0, 0);

  @media #{$mobile} {
    height: 98vh;
  }

  &.closed { transform: translate3d(0, 100%, 0); }


  #footer-brand {
    text-align: center;
  }

  address {
    text-align: center;
    font-weight: 400;
    font-size: 0.8rem;
    p {
      margin: 1.5rem 0 0.5rem 0;
    }
  }
}

.social-links {
  position: relative;
  padding: 0;
  margin: 0 auto;
  margin-top: 2rem;
  width: 100%;
  max-width: 300px;
  display: inline-flex;
  flex-wrap: nowrap;
  align-content: center;
  align-items: flex-end;
  justify-content: flex-end;
  > a {
    display: block;
    margin: auto;
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
  }
}
#instagram {
  width: 58%;
}
#facebook {
  margin-left: -18%;
  margin-top: 38%;
  width: 23%;
}

#alia-footer {
  padding: 0.5rem 3rem;
  background-color: #181818;
  color: #333333;
  img {
    width: 36px;
    height: 36px;
    margin: 0 18px 0 0;
  }
}

a.iconic {
  display: block;
  margin: auto;
  margin-bottom: 0.5rem;
  position: relative;
  img {
    width: 24px;
    height: auto;
  }
}
